[Unit]
Description=PSPi Main Service
After=main.service

[Service]
ExecStart=/usr/local/bin/start_osd.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
